.editor-container {
  height: 100%;
}

.inner-content {
  position: absolute;
  bottom: 0;
  left: 0;
}

#divider-width {
  min-width: 300px;
  width: 100%;
}

#tree-view-sidebar {
  width: 300px;
}

#mxgraph-sidebar-width {
  min-width: 300px;
  width: 100%;
}

mat-form-field[hidden] {
  display: none;
}
